body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'Kiwi Maru', serif;
	color: #362c2b;
	min-height: 100vh;
	height: fit-content;
	background: antiquewhite;

	&::before {
		content: '';
		display: block;
		position: fixed;
		width: 100vw;
		height: 100%;
		background: linear-gradient(calc(24deg + 180deg), transparent, #60938f) left 0 top 0 / cover,
			url(/imgs/noise.svg) repeat left 0 top 0 / 200px 200px;
		z-index: -1;
		filter: contrast(250%) brightness(100%);
	}

	a {
		color: #24726b;
	}
}
